.boarditem {
    font-size: 3em;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    padding: .1em;
    background-color: #DDD;
    margin: .1em;
    border-radius: .1em;
    text-align: center;
    transition: all .15s ease;
}

.board {
    margin: auto;
}

.ajaxboard {
    text-align: center;
}

.naughts {
    background-color: #1A237E;
}

.crosses {
    background-color: #D84315;
}

.naughts, .crosses {
    color: white;
}

.boarditem svg {
    display: block;
    margin: auto;
    margin-top: .15em;
}

.unclaimed {
    cursor: pointer;
}

    .unclaimed:hover {
        background-color: #AAA;
        box-shadow: .05em .05em .6em grey;
        transform: perspective(500px) translateZ(20px);
    }

.darken {
    background-color: rgba(0,0,0,0.04)
}

.statcircle {
    font-size: 3em;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: .5em;
}

.statcontent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.statico {
    font-size: .5em;
    display: block;
    margin-top: -.5em;
    color: white;
    opacity: .7;
}

.iconHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
    font-size: 1.25em;
    line-height: initial;
    position: relative;
    top: 0.09rem;
}

.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
    margin-right: 0.25rem;
}

.list-group-item.mdi:not(:empty)::before {
    margin-right: 0.5rem;
}

.dropdown-item.mdi:not(:empty)::before {
    margin-left: -0.75rem;
}

.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
    margin-left: -0.5rem;
}

.modal-title.mdi::before {
    font-size: 1.5em;
    line-height: 0.5;
    position: relative;
    top: 0.26rem;
    margin-right: 0.5rem;
}
