@page "/About"

<div class="container mt-3 pb-4">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">phÿnd</a>
        <span class="breadcrumb-item active">about</span>
    </nav>

    <h1 class="text-center">About phÿnd</h1>
    <p class="lead text-center pt-3">Rudimentary machine learning tic-tac-toe</p>
    <hr class="my-5">
    <h2>How it works</h2>
    <p class="lead">If you're wondering, "phÿnd" is supposed to be pronounced like "fiend".</p>
    <p>
        phÿnd is a machine-learning (in the loosest sense of the term) application that plays tic-tac-toe. phÿnd knows nothing about
        the game in terms of strategy; it only knows which moves it has made and whether that move led to a loss. phÿnd initially
        chooses a spot to place its cross at random, leading to some embarassing losses. However, as phÿnd loses, it becomes
        progressively less likely to make those same decisions that led to a loss. It's a very inefficient system as a whole but I think it's still
        a good bit of fun in the end.
    </p>
    <p>
        This is the second version of this application, this time built on .NET Core and Razor Components.
        The original version was build on Python and Bottle for a class at school.
    </p>

    <h2 class="mt-5">Inspiration</h2>
    <div class="d-flex flex-row row flex-wrap">
        <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
            <p class="lead">MENACE is a real fiend.</p>
            <p>
                phÿnd is based off of concepts in MENACE, the machine-educable naughts-and-crosses engine. The two have a similar premise
                but MENACE is physically built on beads in matchboxes. Standupmaths has an excellent video on the project that you can
                see here.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/R9c-_neaxeU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

    <h2 class="mt-5">Technologies Used</h2>
    <div class="card mb-4">
        <div class="card-body">
            <div class="float-sm-left">
                <h4>ASP.NET Core 3.0 (Preview 2)</h4>
                <p class="lead m-0">Microsoft</p>
            </div>
            <div class="text-right">
                <a href="https://github.com/aspnet/AspNetCore" target="_blank" class="btn btn-primary">View Source</a>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="float-sm-left">
                <h4>Razor Components (Server-Side Blazor)</h4>
                <p class="lead m-0">Microsoft</p>
            </div>
            <div class="text-right">
                <a href="https://blazor.net" target="_blank" class="btn btn-primary">View Site</a>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="float-sm-left">
                <h4>Entity Framework Core</h4>
                <p class="lead m-0">Microsoft</p>
            </div>
            <div class="text-right">
                <a href="https://github.com/aspnet/EntityFrameworkCore" target="_blank" class="btn btn-primary">View Source</a>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="float-sm-left">
                <h4>Material Design Bootstrap</h4>
                <p class="lead m-0">MDBootstrap.com</p>
            </div>
            <div class="text-right">
                <a href="https://mdbootstrap.com" target="_blank" class="btn btn-primary">View Site</a>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="float-sm-left">
                <h4>SQLite</h4>
                <p class="lead m-0">SQLite Consortium</p>
            </div>
            <div class="text-right">
                <a href="https://www.sqlite.org/index.html" target="_blank" class="btn btn-primary">View Site</a>
            </div>
        </div>
    </div>
</div>