@page "/"

<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="h1-responsive">Welcome to phÿnd</h1>
        <p class="lead">A rudimentary machine learning game of Tic-Tac-Toe</p>
        <hr class="my-2">
        <p>
            Play a few rounds and help our robot overlords become smarter.
        </p>
        <a class="btn btn-outline-primary waves-effect btn-lg" href="/about">See how it works</a>
        <a class="btn btn-primary btn-lg waves-effect" role="button" href="/play">Play now</a>
    </div>

</div>