@page "/Stats"

<div class="container mt-3">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">phÿnd</a>
        <span class="breadcrumb-item active">stats</span>
    </nav>
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <div class="statcircle bg-primary">
                    <div class="statcontent align-middle">
                        <div class="text-white number">941</div>
                        <div class="text-light statico">
                            <svg class="svg-inline--fa fa-flag-checkered fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="flag-checkered" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M466.515 66.928C487.731 57.074 512 72.551 512 95.944v243.1c0 10.526-5.161 20.407-13.843 26.358-35.837 24.564-74.335 40.858-122.505 40.858-67.373 0-111.63-34.783-165.217-34.783-50.853 0-86.124 10.058-114.435 22.122V488c0 13.255-10.745 24-24 24H56c-13.255 0-24-10.745-24-24V101.945C17.497 91.825 8 75.026 8 56 8 24.296 34.345-1.254 66.338.048c28.468 1.158 51.779 23.968 53.551 52.404.52 8.342-.81 16.31-3.586 23.562C137.039 68.384 159.393 64 184.348 64c67.373 0 111.63 34.783 165.217 34.783 40.496 0 82.612-15.906 116.95-31.855zM96 134.63v70.49c29-10.67 51.18-17.83 73.6-20.91v-71.57c-23.5 2.17-40.44 9.79-73.6 21.99zm220.8 9.19c-26.417-4.672-49.886-13.979-73.6-21.34v67.42c24.175 6.706 47.566 16.444 73.6 22.31v-68.39zm-147.2 40.39v70.04c32.796-2.978 53.91-.635 73.6 3.8V189.9c-25.247-7.035-46.581-9.423-73.6-5.69zm73.6 142.23c26.338 4.652 49.732 13.927 73.6 21.34v-67.41c-24.277-6.746-47.54-16.45-73.6-22.32v68.39zM96 342.1c23.62-8.39 47.79-13.84 73.6-16.56v-71.29c-26.11 2.35-47.36 8.04-73.6 17.36v70.49zm368-221.6c-21.3 8.85-46.59 17.64-73.6 22.47v71.91c27.31-4.36 50.03-14.1 73.6-23.89V120.5zm0 209.96v-70.49c-22.19 14.2-48.78 22.61-73.6 26.02v71.58c25.07-2.38 48.49-11.04 73.6-27.11zM316.8 212.21v68.16c25.664 7.134 46.616 9.342 73.6 5.62v-71.11c-25.999 4.187-49.943 2.676-73.6-2.67z"></path></svg><!-- <i class="fas fa-flag-checkered"></i> -->
                        </div>
                    </div>
                </div>
                <p class="card-text text-center">phÿnd has played 941 games</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="statcircle bg-secondary">
                    <div class="statcontent align-middle">
                        <div class="text-white number">201</div>
                        <div class="text-light statico">
                            <svg class="svg-inline--fa fa-trophy fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="trophy" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M552 64H448V24c0-13.3-10.7-24-24-24H152c-13.3 0-24 10.7-24 24v40H24C10.7 64 0 74.7 0 88v56c0 35.7 22.5 72.4 61.9 100.7 31.5 22.7 69.8 37.1 110 41.7C203.3 338.5 240 360 240 360v72h-48c-35.3 0-64 20.7-64 56v12c0 6.6 5.4 12 12 12h296c6.6 0 12-5.4 12-12v-12c0-35.3-28.7-56-64-56h-48v-72s36.7-21.5 68.1-73.6c40.3-4.6 78.6-19 110-41.7 39.3-28.3 61.9-65 61.9-100.7V88c0-13.3-10.7-24-24-24zM99.3 192.8C74.9 175.2 64 155.6 64 144v-16h64.2c1 32.6 5.8 61.2 12.8 86.2-15.1-5.2-29.2-12.4-41.7-21.4zM512 144c0 16.1-17.7 36.1-35.3 48.8-12.5 9-26.7 16.2-41.8 21.4 7-25 11.8-53.6 12.8-86.2H512v16z"></path></svg><!-- <i class="fas fa-trophy"></i> -->
                        </div>
                    </div>
                </div>
                <p class="card-text text-center">phÿnd has won 201 games and lost 467</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="statcircle bg-success">
                    <div class="statcontent align-middle">
                        <div class="text-white number">3819</div>
                        <div class="text-light statico">
                            <svg class="svg-inline--fa fa-expand-arrows-alt fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="expand-arrows-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M448.1 344v112c0 13.3-10.7 24-24 24h-112c-21.4 0-32.1-25.9-17-41l36.2-36.2L224 295.6 116.8 402.9 153 439c15.1 15.1 4.4 41-17 41H24c-13.3 0-24-10.7-24-24V344c0-21.4 25.9-32.1 41-17l36.2 36.2L184.5 256 77.2 148.7 41 185c-15.1 15.1-41 4.4-41-17V56c0-13.3 10.7-24 24-24h112c21.4 0 32.1 25.9 17 41l-36.2 36.2L224 216.4l107.3-107.3L295.1 73c-15.1-15.1-4.4-41 17-41h112c13.3 0 24 10.7 24 24v112c0 21.4-25.9 32.1-41 17l-36.2-36.2L263.6 256l107.3 107.3 36.2-36.2c15.1-15.2 41-4.5 41 16.9z"></path></svg><!-- <i class="fas fa-expand-arrows-alt"></i> -->
                        </div>
                    </div>
                </div>
                <p class="card-text text-center">phÿnd has made 3819 moves</p>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <div class="statcircle bg-info">
                    <div class="statcontent align-middle">
                        <div class="text-white number">7.53</div>
                        <div class="text-light statico">
                            <svg class="svg-inline--fa fa-chart-bar fa-w-16" aria-hidden="true" data-prefix="far" data-icon="chart-bar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 400c6.6 0 12 5.4 12 12v24c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h24c6.6 0 12 5.4 12 12v324h452zm-356-60v-72c0-6.6-5.4-12-12-12h-24c-6.6 0-12 5.4-12 12v72c0 6.6 5.4 12 12 12h24c6.6 0 12-5.4 12-12zm96 0V140c0-6.6-5.4-12-12-12h-24c-6.6 0-12 5.4-12 12v200c0 6.6 5.4 12 12 12h24c6.6 0 12-5.4 12-12zm96 0V204c0-6.6-5.4-12-12-12h-24c-6.6 0-12 5.4-12 12v136c0 6.6 5.4 12 12 12h24c6.6 0 12-5.4 12-12zm96 0V108c0-6.6-5.4-12-12-12h-24c-6.6 0-12 5.4-12 12v232c0 6.6 5.4 12 12 12h24c6.6 0 12-5.4 12-12z"></path></svg><!-- <i class="far fa-chart-bar"></i> -->
                        </div>
                    </div>
                </div>
                <p class="card-text text-center">The average game lasts for 7.53 moves.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="statcircle bg-dark">
                    <div class="statcontent align-middle">
                        <div class="text-white number">1350</div>
                        <div class="text-light statico">
                            <svg class="svg-inline--fa fa-binoculars fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="binoculars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M192 104H96V56c0-13.255 10.745-24 24-24h48c13.255 0 24 10.745 24 24v48zm224-48c0-13.255-10.745-24-24-24h-48c-13.255 0-24 10.745-24 24v48h96V56zM0 456c0 13.255 10.745 24 24 24h120c13.255 0 24-10.745 24-24v-16H0v16zm88-328c-13.255 0-24 10.745-24 24C64 256 0 272 0 416h168V312c0-13.255 10.745-24 24-24V128H88zm256 328c0 13.255 10.745 24 24 24h120c13.255 0 24-10.745 24-24v-16H344v16zM216 128v160h80V128h-80zm128 288h168c0-144-64-160-64-264 0-13.255-10.745-24-24-24H320v160c13.255 0 24 10.745 24 24v104z"></path></svg><!-- <i class="fas fa-binoculars"></i> -->
                        </div>
                    </div>
                </div>
                <p class="card-text text-center">
                    phÿnd has encountered 1350 unique scenarios and made adjustments to its likelihood to respond
                    with 808 different responses for those states.
                </p>
            </div>
        </div>

    </div>
</div>