<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" href="/">phÿndotnet</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavCollapse" aria-controls="mainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="mainNavCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Play">Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Stats">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/About">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a href="https://github.com/halomademeapc/phyndotnet" target="_blank" class="nav-link waves-effect waves-light">
                    <i class="mdi mdi-github-circle"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
